body{
	font-family: sans-serif;
	/*font-weight:600;*/
	background-image:url('constable.jpg');
	background-repeat:no-repeat;
	background-attachment:fixed;
	background-size:100% 100%;
	/*text-shadow: 3px 0 0 #fff, -3px 0 0 #fff, 0 3px 0 #fff, 0 -3px 0 #fff, 2px 2px 0 #fff, -2px -2px 0 #fff, 2px -2px 0 #fff, -2px 2px 0 #fff;*/
	text-shadow:none;
}
#strip{
	text-shadow:none;
}

.icon-lg{
	height:42px;
	width:42px;
}
.icon-sm{
	height:16px;
	width:16px;
	margin: 2px 0 -2px 0;
}

#header{
	position:relative;
}

h1{
	float:left;
	bottom:0;
}
#ruler{
	position:absolute;
	float:left;
	padding-left:1em;
	bottom:0;
}

#impexp{
	display:none;
	position:absolute;
	top:0;
	right:0;
	width:40%;
	border:1px solid black;
	background-color:#fff;
	z-index:1;
}
#impexpField{
	display:block;
	width:90%;
	height:10em;
	margin:1em auto;
}
#expButton{
	width:7em;
	float:left;
	margin-left:5%;
	margin-bottom:1em;
}
#expSelect{
	width:7em;
	float:left;
	margin-left:1em;
	margin-bottom:1em;
}
#impButton{
	width:7em;
	float:right;
	margin-right:1em;
	margin-bottom:1em;
}
#impexpClose{
	width:7em;
	float:right;
	margin-right:5%;
	margin-bottom:1em;
}

#tips{
	display:none;
	position:absolute;
	top:0;
	right:0;
	border:1px solid black;
	background-color:#fff;
	z-index:2;
	padding:1em 0;
	text-align:center;
}
#bitcoin{
	margin:0.5em 1em;
}
#dogecoin{
	margin:0.5em 1em;
}
#tips p{
	width:20em;
	margin:0 auto 1em auto;
}
#tips form{
	margin:0 auto;
	text-align:center;
}
#tips form *{
	margin:0 auto;
	text-align:center;
}
#tipsClose{
	width:7em;
	margin:0 auto;
}

.net{
	padding-left:1em;
}

h3{
	clear:both;
}
button{
	width:190px;
	border:2px solid black;
	background-color:#fff;
	margin-right:10px;
	padding:0.1em;
	font-size:1.0em;
	font-weight:500;
}
button:hover{
	background-color:#eee;
}
button:disabled{
	color:#ccc;
	font-weight:normal;
}
#jobs button{
	width:48px;
	text-shadow:none;
	font-weight:normal;
	font-size:0.9em;
	margin-right:5px;
}
#jobs .jobCustom button{
	width:90px;
}
#party .jobCustom button{
	width:90px;
}
.buildCustom button{
	width:90px;
}
#party button{
	width:48px;
	text-shadow:none;
	font-weight:normal;
	font-size:0.9em;
	margin-right:5px;
}

.paneSelector{
	width:15%;
	float:left;
	text-align:center;
	margin:1em 0;
	line-height:2em;
	border:2px solid black;
	background-color:#fff;
}
.paneSelector:hover{
	text-decoration:underline;
	text-shadow: none;
	cursor:pointer;
}
.selected{
	border-bottom:none;
	background:none;
	color:white;
	text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
}
.selected:hover{
	text-decoration:none;
	cursor:auto;
	background:none;
	text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
}
.devcost{
	padding-right:1em;
}
#upgradesPane{
	display:none;
}
#conquestPane{
	display:none;
}
#tradePane{
	display:none;
}
#conquest{
	display:none;
}
.job{
	width:120px;
}
.note{
	/*width: 380px;*/
	text-align:right;
	font-style:italic;
	color:#555;
	padding-left:1em;
}
.cost{
	white-space:nowrap;
	text-align:right;
	font-style:italic;
	color:#555;
	padding-left:1em;
	margin-right:-1em;
}
#jobs .note{
	width:300px;
}
.number{
	text-align:right;
	padding-right:5px;
}
.icon{
	padding-right:10px;
}
#resources{
	float:left;
	width:50%;
}
#population{
	float:left;
	width:50%;
}
